
# data directories
data/pdb/
data/pdb/pdb/
data/pdb/obsolete/
data/scop/pdb/
data/cath/pdb/
data/cath/pdb_diverse/
data/ecod/pdb/
data/chain/pdb/
data/chain/obsolete/
data/upload/
data/casp/target_preds/

# big data files
data/scop/dir.cla.scop.1.73.txt
data/scop/dir.des.scop.1.73.txt
data/scop/dir.cla.scope.2.07-stable.txt
data/scop/dir.des.scope.2.07-stable.txt
data/scop/domains.txt
data/scop/names.txt
data/scop/segments.txt
data/cath/cath-domain-boundaries-v4_2_0.txt
data/cath/cath-domain-list-v4_2_0.txt
data/cath/cath-names-v4_2_0.txt
data/cath/domains.txt
data/cath/names.txt
data/cath/segments.txt
data/ecod/ecod.develop240.domains.txt
data/ecod/domains.txt
data/ecod/segments.txt

# temp directories
results/mtm/temp/
results/ssm/temp/
results/cathedral/temp/

# result import files
results/rupee/rupee_results.txt

# data version files
data/cath/version.txt
data/scop/version.txt

# build ignores
rupee-mgr/target/

# file types
**/*.swp
**/*.tar
**/*.pdf
**/*.aux
**/*.out
**/*.bbl
**/*.blg
**/*.dvi
**/*.idx
**/*.log
**/nohup.out

# eclim
**/workbench.xmi
rupee-mgr/.settings/
rupee-mgr/.classpath
rupee-mgr/.project
rupee-mgr/.gitignore

