
# data directories
data/pdb/pdb/
data/pdb/obsolete/
data/pdb/index/
data/cath/pdb/
data/scop/pdb/
data/chain/pdb/
data/ecod/pdb/
data/upload/

# big data files
data/scop/dir.cla.scop.1.73.txt
data/scop/dir.des.scop.1.73.txt
data/scop/dir.cla.scope.2.06-stable.txt
data/scop/dir.des.scope.2.06-stable.txt
data/scop/dir.cla.scope.2.07-stable.txt
data/scop/dir.des.scope.2.07-stable.txt
data/scop/domains.txt
data/scop/names.txt
data/scop/segments.txt
data/cath/cath-domain-boundaries-v4_2_0.txt
data/cath/cath-domain-list-v4_2_0.txt
data/cath/cath-names-v4_2_0.txt
data/cath/cath-domain-boundaries-v4_1_0.txt
data/cath/cath-domain-list-v4_1_0.txt
data/cath/cath-names-v4_1_0.txt
data/cath/domains.txt
data/cath/names.txt
data/cath/segments.txt
data/ecod/ecod.develop210.domains.txt
data/ecod/domains.txt
data/ecod/names.txt
data/ecod/segments.txt

# temp directories
results/mtm/temp/
results/ssm/temp/

# result import files
results/rupee/rupee_results.txt
results/cathedral/cathedral_results.txt
results/mtm/mtm_results.txt
results/ssm/ssm_results.txt

# build ignores
rupee-mgr/target/

# any vim swap files
**/*.swp

# any tar files
**/*.tar

# eclim
**/workbench.xmi
rupee-mgr/.settings/
rupee-mgr/.classpath
rupee-mgr/.project
rupee-mgr/.gitignore

