
# data directories
data/pdb/bundles/
data/pdb/chopped/
data/pdb/pdb/
data/pdb/obsolete/
data/scop/pdb/
data/cath/pdb/
data/cath/pdb_diverse/
data/ecod/pdb/
data/chain/pdb/
data/chain/obsolete/
data/afdb/pdb/
data/upload/

# big data files
data/scop/dir.cla.scope.2.08-stable.txt
data/scop/dir.des.scope.2.08-stable.txt
data/scop/domains.txt
data/scop/names.txt
data/scop/segments.txt
data/cath/cath-domain-boundaries-v4_3_0.txt
data/cath/cath-domain-list-v4_3_0.txt
data/cath/cath-names-v4_3_0.txt
data/cath/domains.txt
data/cath/names.txt
data/cath/segments.txt
data/ecod/ecod.develop282.domains.txt
data/ecod/domains.txt
data/ecod/segments.txt

# temp directories
eval/results/mtm/temp/
eval/results/ssm/temp/
eval/results/cathedral/temp/

# result import files
eval/results/cathedral/cathedral_results.txt
eval/results/mtm/mtm_results.txt
eval/results/ssm/ssm_results_q_score.txt
eval/results/ssm/ssm_results_rmsd.txt
eval/results/vast/vast_results_fl.txt
eval/results/vast/vast_results_rmsd.txt

# build ignores
rupee-core/target/
rupee-tm/target/
rupee-search/target/
eval/rupee-eval/target/

# file types
**/*.swp
**/*.tar
**/*.pdf
**/*.aux
**/*.out
**/*.bbl
**/*.blg
**/*.dvi
**/*.idx
**/*.log
**/*.factorypath
**/nohup.out

# eclim
**/workbench.xmi
rupee-core/.settings/
rupee-core/.classpath
rupee-core/.project
rupee-core/.gitignore
rupee-tm/.settings/
rupee-tm/.classpath
rupee-tm/.project
rupee-tm/.gitignore
rupee-search/.settings/
rupee-search/.classpath
rupee-search/.project
rupee-search/.gitignore
eval/rupee-eval/.settings/
eval/rupee-eval/.classpath
eval/rupee-eval/.project
eval/rupee-eval/.gitignore

# ssap
eval/results/ssap/cath-ssap

